<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    >
</head>
<body>
<div th:replace="~{common :: myHeader}"></div>
<h1>well..</h1>
<h1 th:text="${name}"></h1>

<!--不会对内容进行转义处理-->
<!--<h1 th:utext="${msg}"></h1>-->
<!--会对内容进行转义处理-->
<!--<h1 th:text="${msg}"></h1>-->
<!--<img src="/1.jpg" th:src="${path}"-->
<!--     th:width="600">-->
<!--<img src="/1.jpg" th:attr="src=${path},width=600" th:if="${show}">-->
<!--<img src="/1.jpg" th:attr="src=@{${path}},width=600" th:if="${show}">-->
<!--<img th:attr="src=@{${path}},width=600">-->
<!--<img th:attr="src=${path},width=600">-->
<!--<h1 th:text="${#strings.toUpperCase(name)}"></h1>-->
<h1 th:text="${'well ' + #strings.toUpperCase(name) +'...'}"></h1>
<h1 th:text="|well ${ #strings.toUpperCase(name) } ... |"></h1>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>